
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body {
  font-size: 1em;
}
body, html {
    height: 100%;
    color: #3B3B3B;
    line-height: 1.8;
    background-color: lightgrey;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

i {
  margin-right: 5px
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/P1020983.jpg');
    min-height: 600px;
}

/* Second image (forfait) */
.bgimg-2 {
    background-image: url('../images/20160925_101348.jpg');
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('../images/P1030553.jpg');
    min-height: 400px;
}
/* fourthimage (Contact) */
.bgimg-4 {
  background-image: url('../images/P1030553.jpg');
  min-height: 400px;
}
.w3-display-middle {
  width:80%
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.w3-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}


p.shine
{
    font-size: 3vw;
    margin: 0 auto;
    width: 60%;
}

/* shining text effect */
.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    
    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

